%p
  %font{:color => "red"}= msg()



%p Welcome.
%p
  The Git-svn bridge has been deprecated and replaced by 
  %a{:href => "http://bioconductor.org/developers/how-to/git-mirror/"} the Bioconductor Git Mirrors. 
  You can't create new bridges here. Please migrate existing bridges
  to the mirrors when it is convenient for you.
