%html
  %head
    %meta{:charset => "UTF-8"}/
    %title= title()
    %link{:href => url("/css/style.css"), :rel => "stylesheet", :type => "text/css"}/
  %body
    #header
      %div
        -# This UL was defined with the navigation class
        %ul
          %li.active
            %a{:href => "/"} Home
          %li.active= loginlink()
          %li.active
            %a{:href => "https://github.com/dtenenba/bioc-git-svn/blob/gitsvn/bioc-git-svn.md"} Documentation

    #contents= yield
    #footer
      .clearfix
