%html
  %head
    %meta{:charset => "UTF-8"}/
    %title= title()
    %link{:href => url("/css/style.css"), :rel => "stylesheet", :type => "text/css"}/
  %body
    #header
      %div
        -# This UL was defined with the navigation class
        %ul
          %li.active
            %a{:href => "/"} Home
          %li.active= loginlink()
          %li.active
            %a{:href => DOC_URL} Documentation
          %li.active
            %a{:href => "/list_bridges"} List All Bridges
          -if logged_in?
            %li.active
              %a{:href => "/my_bridges"} My Bridges
            %li.active
              %a{:href => "/newproject"} Create New Github-SVN mapping

    #contents= yield
    #footer
      .clearfix
