- if items.nil? or items.empty?
    %p
        There are no bridges.
- else
    %p
        All bridges:
    %script{charset: "utf-8", src: "/js/jquery-1.10.1.min.js", type: "text/javascript"}
    %script{charset: "utf8", src: "https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js", type: "text/javascript"}
    %link{href: "https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css", rel: "stylesheet", type: "text/css"}/
    :javascript
        $(document).ready(function(){
            $('#bridges').dataTable({
                "aaSorting": [[ 3, "desc" ]]
            });
        });
    %table#bridges.display
        %thead
            %tr
                %th
                    SVN Repos
                %th
                    Github Repos
                %th
                    Owner
                -# FIXME - will datatables sort work properly with dates?
                %th
                    Created
        %tbody
            - for row in items
                %tr
                    - for column in row
                        %td= column
