%form{:action => url('/login'), :method => "post"}
  %table
    %tr
      %td
        %label(for="username")SVN Username:
      %td
        %input#username(type="text" name="username")
    %tr
      %td
        %label(for="password")SVN Password:
      %td
        %input#password(type="password" name="password")
    -#%tr
      -#%td
        -#%label(for="specialpass")Special Password:
      -#%td
        -#%input#specialpass(type="password" name="specialpass")
  %br
    %input(type="submit" value="Login")