%p
    %font{:color => "red"}= msg()

-if defined? github_repos_empty and github_repos_empty
    %p
        This github repository is not empty.
-elsif dupe_repo
    %p
        Whoops, there is already a bridge for this repository.
-elsif !collab_ok
    %p
        It looks like bioc-sync has not been added as a collaborator to your Github repository.
-else
    %p
        Awesome! It totally works!

