%script{:src => "/js/jquery-1.10.1.min.js", :type => "text/javascript"}
%script{:src => "/js/gitsvn.js", :type => "text/javascript"}
%form#newprojectform(action="/newproject" method="POST" onsubmit="return validateForm()")
  %p Enter an SVN directory path (must exist):
  %table
    %tr
      %td
        %span#rootdir_error.error
        %label(for="rootdir")Root Directory:
        %select{name: "rootdir"}
          -# Change this to 'production' directories when ready:
          %option https://hedgehog.fhcrc.org/bioconductor/trunk/madman/Rpacks/
          %option https://hedgehog.fhcrc.org/bioconductor/branches/RELEASE_2_13/madman/Rpacks/
          %option https://hedgehog.fhcrc.org/bioconductor/trunk/madman/workflows/
          %option https://hedgehog.fhcrc.org/bioconductor/branches/RELEASE_2_13/madman/workflows/
          %option https://hedgehog.fhcrc.org/bioconductor/trunk/madman/RpacksTesting/
    %tr
      %td
        %span#svndir_error.error
        %label(for="svndir")Directory name:
        %input#svndir{name: "svndir", size: "30", type: "text"}
  Enter the URL for a Github repository that you own.
  (Example: https://github.com/username/reponame).
  %span#githuburl_error.error
  %input#githuburl(type="text" name="githuburl" size="60")
  %p
    %br
    %span#email_error.error
    %label(for="email")Your email address:
    %input#email(type="text" name="email" size="60")
  %p
    How do you want to handle merge conflicts in the initial merge?
    You can ignore this if your Github repository is empty.
    %table
      %tr
        %td
          %input{checked: "checked", name: "conflict", type: "radio", value: "svn-wins"}
          SVN wins unconditionally
      %tr
        %td
          %input{name: "conflict", type: "radio", value: "git-wins"}
          Git wins unconditionally


    %p Before submitting this page, make sure your Github repository is configured as follows:
  %ul
    %li In a new browser window, open your Github repository page.
    %li
      Click on the Settings button:
      %br/
      %img{src: "/images/settings.jpg"}/
    %li Click "Collaborators"
    %li (Enter your account password if necessary)
    %li
      Enter
      %em bioc-sync
      in the "Add a friend" box and click "Add". This allows Bioconductor
      to modify your Github repository. We will only modify the 'master'
      branch.
    %li Click "Service Hooks" and then WebHook URLs. 
    %li
      Enter
      %em http://gitsvn.bioconductor.org/git-push-hook
      in the URL box and click "Update Settings". This allows
      Bioconductor to know when there has been a push to your Github
      repository.
  %p
    %span#certify1_error.error
    %input.certify#certify1{type: "checkbox", name: "certify1", value: "true"}
    I certify that I have done the above steps and I understand that if I don't do them,
    my Git-SVN bridge will not work correctly.
  %p
    %span#certify2_error.error
    %input.certify#certify2{type: "checkbox", name: "certify2", value: "true"}
    I certify that I will respond to pull requests and issues filed in this Github
    repository.

  %p
    %input#submitbutton{type: "submit", id: "submitbutton", value: "Create New Project"}
-#  %p#tester
-#    clickme