%p
    %font{:color => "red"}= msg()

-if dupe_repo
    %p
        Whoops, there is already a bridge for this repository.
-elsif !collab_ok
    %p
        It looks like bioc-sync has not been added as a collaborator to your Github repository.
-else
    %h2
        Git-SVN bridge has been created.
    %p
        From now on, SVN commits will be propagated to the master branch of your github
        repository, and git pushes (to the master branch) will be propagated to SVN.

