%p
    %font{:color => "red"}= msg()
-if defined? dupe_repo and dupe_repo
    %p.error
        Whoops, there is already a bridge for this repository.
-elsif defined? invalid_svn_root and invalid_svn_root
    %p.error
        Invalid SVN root directory.
-elsif defined? collab_ok and !collab_ok
    %p.error
        It looks like bioc-sync has not been added as a collaborator to your Github repository.
-elsif defined? no_master and no_master
    %p.error
        Your Github repository must have a master branch!
-elsif defined? svn_repo_error and svn_repo_error
    %p.error
        Either this SVN repository doesn't exist, or you don't have read
        permissions on it.
-elsif defined? invalid_github_repo and invalid_github_repo
    %p.error
        Invalid Github Repository.
-elsif defined? no_write_privs and no_write_privs
    %p.error
        You don't have write permissions on this Subversion directory.
-elsif defined? svnfiles and svnfiles
    %p.error
        You have .svn files in your
        %span= branch
        branch. Remove these and try again!

-else
    %h2
        Git-SVN bridge has been created.
    %p
        From now on, SVN commits will be propagated to the master branch of your github
        repository, and git pushes (to the master branch) will be propagated to SVN.

